<form *ngIf="modifieisopen" novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Titre</label>
      <input type="text" class="form-control" formControlName="titre" placeholder="titre" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input type="text" class="form-control" formControlName="description" placeholder="description" required >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Priorite</label>
        <input type="text" class="form-control" formControlName="priorite"placeholder="priorite" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Etat</label>
        <input type="text" class="form-control" formControlName="etat" placeholder="etat" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Categorie</label>
        <input type="text" class="form-control" formControlName="categorie"placeholder="categorie" required><br>
    </div>
    <div class="mb-3">
            <label class="form-label">Select your profile picture:</label>
            <input type="file" name="document" formControlName="document" (change)="onFileChange($event)">
    </div>
    <button type="submit" class="btn btn-outline-primary" >Submit</button>
    <button type="button" class="btn btn-outline-primary"(click)="cancel()">Cancel</button>
  </form>